<form [formGroup]="intervalForm" (ngSubmit)="onSubmit()">
  <div formArrayName="intervals">
    <h2>Intervals</h2>

    <div *ngFor="let interval of intervals.controls; let i=index">
      <!-- The repeated interval template -->
      <label for="interval-{{ i }}">Interval:</label>
      <input id="interval-{{ i }}" type="text" [formControlName]="i">
    </div>
    <button type="button" (click)="addInterval()">+ Add another interval</button>
  </div>

  <button type="submit">Submit</button>
</form>
<!-- <div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus ipsum ut mi congue laoreet. In nisl odio, mattis
  vitae felis quis, elementum fringilla dolor. Phasellus at maximus metus. Morbi pellentesque, elit id placerat sodales,
  neque augue interdum eros, at placerat felis risus eget nunc. In aliquam imperdiet purus, eget fermentum nisl ornare
  ac. Vestibulum interdum, velit luctus consequat ullamcorper, enim diam tempor nibh, ut porttitor nisl ante vitae
  tellus. Suspendisse sollicitudin aliquam felis vitae tempus. Mauris pulvinar vestibulum dolor, ac imperdiet sapien
  suscipit ac. Nullam pulvinar id sem ac dapibus.

  Donec metus nibh, fermentum vel mollis id, eleifend quis velit. Cras orci augue, ultricies in elit et, posuere
  dignissim dui. Nullam pellentesque tellus non lacus pulvinar, at dapibus nunc volutpat. Sed sed sem et ipsum porta
  euismod ac eu eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus elementum aliquet justo
  vel rutrum. Suspendisse nibh erat, tincidunt nec nunc a, varius venenatis massa. Donec tincidunt tincidunt ante eu
  fringilla. Donec tincidunt leo vitae arcu eleifend laoreet.

  Aenean imperdiet sed velit id maximus. Integer in felis semper purus ullamcorper egestas vel id quam. Maecenas
  tristique pharetra purus, eget ultricies nisi egestas eget. Mauris malesuada nunc varius erat mattis mollis. Mauris
  finibus dignissim ligula, id pretium libero vestibulum vel. Vestibulum vitae auctor mi. Nam dapibus aliquam lacus vel
  egestas. Pellentesque at tortor nec lectus condimentum dictum ac nec leo. Donec viverra feugiat lorem, vel tempus
  risus porttitor at. Fusce mattis eros rutrum, aliquet ipsum non, aliquet eros. Phasellus ac massa non nulla finibus
  luctus sed eu ante. Quisque imperdiet, est a vehicula dictum, quam quam congue elit, ac facilisis enim enim eu tellus.
  Etiam eget elit est. Aliquam nec metus quis erat tempus pharetra ac id lacus. Nunc libero enim, viverra in
  pellentesque a, finibus quis nulla. Nullam massa lectus, congue id tincidunt at, feugiat vel ex.

  Morbi id elit vitae urna blandit lacinia ut dictum justo. Proin efficitur varius velit id rhoncus. Cras nisl sem,
  ullamcorper a varius nec, tempor eget nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Pellentesque sit amet dui ac nunc lacinia elementum. Fusce pharetra justo nec finibus luctus.
  Maecenas eu odio vestibulum, vehicula nunc volutpat, lobortis felis. Etiam fermentum sed nisi vel tincidunt. Sed
  rutrum sem a orci tincidunt lobortis. Donec condimentum velit quis feugiat vehicula. Nunc congue vitae risus at
  sollicitudin. Vivamus mattis mi a metus iaculis, eu pulvinar ligula consectetur. In at neque at magna gravida finibus
  quis id tellus.

  Integer laoreet velit a metus consequat interdum. Ut eget justo imperdiet, dignissim velit sit amet, bibendum lectus.
  Mauris et nulla ut diam facilisis tristique a eget elit. Sed in purus elit. Proin maximus condimentum facilisis.
  Pellentesque consequat tincidunt ex eu facilisis. Mauris pulvinar leo elit, eu dictum magna tincidunt in. Sed vitae
  porta orci, eget pulvinar mi. Vivamus ac ligula mollis, ornare lectus vel, dictum enim. Morbi laoreet, arcu vitae
  molestie varius, sapien nulla dictum urna, nec interdum neque velit ac felis. Curabitur gravida nunc erat, ullamcorper
  tristique tellus egestas ut. Vestibulum eu lectus laoreet, varius augue quis, facilisis lectus.

  Phasellus nec velit augue. Donec mollis orci dui, id pharetra tellus pellentesque vitae. Donec malesuada egestas
  augue, vitae laoreet dui lacinia tempus. Duis dignissim neque fermentum ipsum semper, quis tincidunt erat facilisis.
  Maecenas eget massa elit. Proin eu consectetur risus. Donec eget nibh nibh. Mauris tincidunt leo ac nibh fermentum,
  non posuere leo semper. Suspendisse nec sem a arcu tincidunt maximus. Quisque venenatis metus id augue vulputate
  cursus. Sed cursus magna at lacinia luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
  faucibus metus pulvinar semper laoreet.

  Donec molestie nisi a vestibulum ultrices. Suspendisse ac massa sit amet nunc facilisis laoreet. In viverra nulla eget
  laoreet laoreet. Curabitur vulputate aliquet lacus, a mattis tellus pulvinar ut. Vivamus gravida purus sit amet ipsum
  accumsan, ac aliquam nisl eleifend. Donec cursus urna nec rutrum feugiat. Phasellus imperdiet commodo nibh eu
  fringilla. Praesent fermentum, orci ut facilisis convallis, est velit fringilla turpis, eu tincidunt neque velit sit
  amet nunc. Cras laoreet malesuada dui, quis congue sem commodo vestibulum. Donec eget venenatis libero, eget lacinia
  diam. Nullam sed tortor in lacus tempor pellentesque. Sed porttitor ut mauris ut egestas. Maecenas enim sapien,
  viverra non urna finibus, pellentesque iaculis orci. Pellentesque nec hendrerit nunc.

  In et interdum lectus. Suspendisse potenti. Aenean bibendum pretium posuere. Aliquam ultrices erat urna, id suscipit
  metus egestas ac. Nullam condimentum accumsan molestie. Morbi laoreet ante sed dapibus tincidunt. Duis facilisis
  placerat libero, eget eleifend nibh eleifend at. In et orci nisi. Praesent a interdum quam. Aliquam sit amet ultricies
  nisl. Maecenas quis urna dapibus, hendrerit orci eu, volutpat nisi.

  Ut et tempus nunc, a auctor risus. In at interdum magna. Nunc quis purus quis tortor sollicitudin vehicula. Donec
  pellentesque, lectus in egestas pulvinar, lectus massa mattis ex, vitae lacinia purus leo ac est. Nunc sit amet diam
  fermentum, sollicitudin tortor eu, commodo enim. Quisque hendrerit luctus quam, a efficitur turpis. Aenean venenatis
  dolor at maximus egestas. Sed et neque et lorem molestie facilisis. Maecenas condimentum lacus at euismod tempus.
  Donec scelerisque purus mi, quis vestibulum felis viverra id. Maecenas id augue mi. Donec ac augue vehicula elit
  eleifend sagittis at vitae quam. Fusce ipsum urna, facilisis sit amet metus nec, imperdiet congue enim. Nulla
  ultricies a purus nec sollicitudin. Etiam commodo egestas est, vehicula egestas arcu dignissim ac. Integer ornare
  tristique lectus.

  Fusce tristique imperdiet diam, quis faucibus purus pellentesque eu. Fusce aliquam justo quis hendrerit ultrices.
  Morbi dolor orci, ullamcorper non bibendum non, bibendum nec velit. Nunc vitae nulla ante. Sed non lectus quis dolor
  efficitur tincidunt at in dui. Morbi euismod semper tellus, eu imperdiet dui lacinia eu. Sed eget velit ac sapien
  ornare placerat. Curabitur scelerisque, lacus in ultricies iaculis, nisl mauris efficitur ligula, vitae sagittis magna
  quam ac eros. Duis at ex in neque ornare sollicitudin.

  Mauris convallis pretium convallis. Aenean rutrum mauris vitae leo porttitor iaculis. Nulla nec interdum nisl. Nullam
  in gravida risus, nec auctor ex. Suspendisse potenti. Nullam ac euismod ante. Integer rhoncus arcu ullamcorper lorem
  dapibus vestibulum. Donec lobortis nibh vel lacinia maximus. Quisque ornare et felis eu convallis.

  Nulla gravida pharetra tortor, vel porta velit consectetur at. Ut consectetur orci magna, quis dignissim sem venenatis
  eu. Pellentesque maximus, tortor sed sodales fringilla, lacus justo viverra est, non pretium ante tellus quis nibh.
  Vivamus finibus, mi sit amet pretium blandit, arcu lorem convallis lorem, imperdiet congue ante velit porttitor erat.
  Duis ultricies facilisis fermentum. Quisque dignissim libero at blandit dignissim. Sed blandit, augue non eleifend
  vehicula, lacus neque pharetra ligula, a dapibus elit mauris vel libero. Proin semper neque id purus aliquam, non
  sodales neque volutpat.

  Nam a est nec lorem vestibulum ultrices non quis nulla. Morbi tristique convallis nisl, vitae dignissim sapien varius
  ut. In sed est et risus semper pellentesque. Nam risus nibh, ultrices nec tincidunt vel, tristique at urna.
  Suspendisse ac nisi sit amet dolor ullamcorper euismod. Cras porttitor aliquam fermentum. Ut sed nisl et dui hendrerit
  bibendum. Cras vestibulum sollicitudin ipsum scelerisque cursus. Maecenas ac turpis a tortor dignissim congue. Sed
  quis nisi nec ipsum consectetur cursus sed a felis. Nam sit amet egestas odio. Donec id dapibus dui. Mauris sit amet
  feugiat lorem.

  Maecenas lobortis felis vitae arcu scelerisque aliquet. Vivamus elementum nisi id enim dapibus, in imperdiet felis
  consequat. Ut elit est, dignissim vel mattis vel, hendrerit a ipsum. Ut eu semper metus, in laoreet enim. Vivamus et
  lectus sed ipsum volutpat vehicula nec vel felis. Nullam ultrices pretium enim, fermentum lobortis nunc viverra eget.
  Phasellus sed risus non purus tincidunt dapibus semper ut dui. Integer vel varius elit.

  Praesent eget tempor urna. In non convallis urna, ut aliquet tellus. Vivamus pellentesque pellentesque arcu, eu
  consequat augue. Vivamus pellentesque tristique placerat. Duis tristique vehicula urna, at congue quam sollicitudin
  nec. Sed consectetur egestas orci vel ullamcorper. Aenean ac nisi enim. Quisque vel felis tincidunt, cursus tortor
  nec, vulputate ante. Cras gravida ullamcorper viverra. In vehicula nec risus et finibus.

  Nam efficitur nulla at convallis consequat. Vestibulum eu nunc volutpat, egestas mauris at, eleifend purus. Mauris
  bibendum cursus risus, id vestibulum orci tincidunt vel. Nullam varius, arcu id rhoncus accumsan, ex purus volutpat
  orci, eu imperdiet risus nisl sit amet sapien. Sed aliquet magna at leo cursus hendrerit. Suspendisse sit amet mollis
  elit. Fusce libero metus, malesuada bibendum ante fringilla, tincidunt feugiat diam. Sed at ligula ut ante vulputate
  aliquet. Ut malesuada tempor odio, sit amet rutrum sapien placerat vel. Suspendisse vulputate, elit ac interdum
  pharetra, nisl purus scelerisque ipsum, id blandit tortor lorem eget ante. Sed lacinia libero et est placerat
  porttitor. Integer ante metus, sagittis a nisi sed, commodo aliquam nunc. Suspendisse nec mauris lacus. Integer vitae
  elit non orci ullamcorper pulvinar nec ut dui.

  Sed ultrices, elit et faucibus maximus, enim purus dignissim leo, nec porta ante nunc a velit. Nulla porttitor lacus
  iaculis urna feugiat dapibus. Vivamus ut nunc pellentesque, aliquam dui non, pretium justo. Proin non risus lobortis
  orci mollis elementum ac a tortor. Maecenas eget elit eu lectus hendrerit tempor in et enim. Maecenas suscipit
  facilisis urna vitae auctor. Pellentesque sed lectus malesuada, tempus nisl vitae, egestas orci.

  Pellentesque convallis venenatis tortor in fringilla. Donec gravida dignissim libero, quis eleifend nulla mollis
  vitae. Nullam ac finibus leo, vel eleifend eros. Quisque id metus semper nunc cursus porta. Praesent lobortis
  imperdiet massa sed euismod. Phasellus ac ante fermentum, suscipit tortor sed, placerat arcu. Phasellus erat arcu,
  fermentum sed feugiat id, tempus nec ante. Nulla semper porta libero sit amet placerat. Curabitur pharetra felis
  eleifend, pellentesque nunc eu, aliquet nisi. Vestibulum porttitor porta rhoncus. Nullam id dolor commodo, blandit
  ligula id, venenatis ex. Curabitur viverra eu neque nec laoreet. Quisque at molestie est, id pulvinar ex. Pellentesque
  feugiat massa sit amet finibus pharetra. Ut a metus eros. Vestibulum non pharetra purus.

  Nullam suscipit leo sit amet posuere lobortis. Vestibulum vitae dui ultricies, mollis tortor nec, gravida augue.
  Quisque porttitor congue mi aliquam convallis. Phasellus ac erat eleifend, ullamcorper velit sed, tincidunt leo. Nam
  id laoreet lectus, id pharetra dui. Praesent ut imperdiet enim. In sed ultricies ex. Vivamus consectetur tempus est,
  commodo imperdiet tortor pretium elementum. Suspendisse ac magna a augue pharetra congue sed vel nisl. Nullam
  vulputate a nunc eget tincidunt. Vivamus vel consequat urna. Praesent et faucibus urna. Mauris nec pharetra nibh.

  Duis sit amet sapien vitae justo pharetra semper sit amet egestas nunc. Integer lacinia elit vitae viverra
  condimentum. Morbi vitae consectetur neque. Proin sodales nunc ipsum, in convallis nisl vehicula sed. Donec fringilla
  ultricies consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean
  varius diam libero, nec consectetur nibh fringilla in. Suspendisse posuere orci nulla, a aliquet lorem placerat a. Sed
  aliquet semper justo eget rhoncus. Integer a tortor ac sapien aliquet venenatis sed et eros. Aenean eget mi sed justo
  rutrum sollicitudin. Sed viverra tristique semper. Praesent turpis tellus, pharetra molestie vehicula vel, sodales eu
  libero. Vivamus eu felis libero. Aenean egestas dolor et nunc egestas bibendum.

  Vivamus non vestibulum metus. Sed ultrices, leo non tristique vestibulum, magna est sodales dolor, ut eleifend dui
  tortor non mi. Nulla sit amet faucibus est, et gravida felis. Maecenas tempor eget nulla auctor fringilla. Nunc felis
  urna, scelerisque sit amet tempus a, consequat quis risus. Sed accumsan lorem vitae dui scelerisque, sed fringilla
  justo pretium. Aenean tincidunt commodo nulla sit amet feugiat. Donec luctus vehicula enim at aliquam.

  Nullam nulla elit, interdum a gravida ut, feugiat vitae eros. Integer vel nisl id ipsum consequat tempus sed ac urna.
  Sed in feugiat diam. Aenean laoreet mauris ut enim commodo, et maximus nisi tincidunt. Duis at diam iaculis, feugiat
  erat vel, placerat risus. Nam at mollis quam. Curabitur malesuada sem sit amet quam convallis, a mattis elit feugiat.
  Suspendisse in libero ipsum. Morbi tempor lobortis ante, non gravida tortor pellentesque quis. Sed convallis tellus
  sit amet magna viverra scelerisque quis sit amet risus. Praesent vitae accumsan nisl. In sit amet consequat neque.
  Mauris luctus volutpat quam.

  Quisque at dictum odio. Nam nunc felis, convallis sit amet risus id, semper fringilla ligula. Phasellus rutrum congue
  nisl, ut dictum ex maximus at. Nunc ultricies vitae neque in scelerisque. Mauris hendrerit arcu eu lacus varius
  consectetur. Nullam vel ex est. Aenean eget elit vel lectus porta venenatis ac at justo. Phasellus dolor ligula,
  malesuada at mattis id, varius ac felis. Quisque vestibulum turpis ipsum, ac dignissim ante ultrices sed. Nam dictum
  urna eu venenatis dapibus. Sed libero sapien, aliquam at mattis eu, faucibus at dolor. Maecenas convallis velit orci,
  ut cursus justo ornare ut. Nam lectus urna, auctor at elementum eu, pulvinar eu mi.

  Etiam vitae lectus justo. Morbi sem neque, viverra at odio at, interdum eleifend justo. Sed vehicula erat nec nisi
  placerat, vel vulputate justo malesuada. Cras varius, diam sit amet egestas suscipit, nulla ante malesuada velit, a
  maximus odio ante eu tellus. Pellentesque dapibus in mi quis pretium. Ut eu sodales tellus, sed consectetur enim. Sed
  tellus magna, placerat ut libero malesuada, viverra dictum erat. Donec turpis erat, rhoncus eget sem quis, feugiat
  hendrerit quam. Integer aliquam imperdiet ligula ac pulvinar. Maecenas ullamcorper blandit tempus.

  Aenean nec ipsum eget nulla mattis condimentum. Suspendisse lectus enim, tempus a quam at, aliquam interdum ex. Cras
  mollis accumsan efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
  consectetur adipiscing elit. Nulla varius dignissim tellus, sit amet sagittis arcu. Nulla at arcu a magna pulvinar
  semper a et massa. In iaculis turpis urna, quis scelerisque nisi pellentesque eget. Nam non justo in quam fermentum
  suscipit vitae eu augue. Donec euismod fringilla suscipit. Fusce non arcu lorem.

  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc venenatis metus ex, id
  viverra justo lobortis a. Duis cursus magna vel elit rhoncus, at porta ligula gravida. Etiam vel pulvinar metus.
  Quisque pretium arcu nec diam feugiat pellentesque eu imperdiet nibh. Donec non semper dolor, sit amet convallis nisi.
  Praesent congue turpis vel hendrerit interdum. Nam porta auctor feugiat.

  Cras id pretium libero. In tincidunt tellus ac fringilla egestas. Suspendisse in eleifend lacus. Integer laoreet orci
  est, sed tincidunt lorem euismod at. Praesent quis pretium justo. Donec ornare fermentum elementum. Vivamus convallis,
  augue et posuere ultricies, magna mauris semper ligula, non hendrerit lacus libero eget tellus. Pellentesque metus
  metus, ultrices quis sapien in, sollicitudin iaculis risus.

  Integer venenatis dolor in metus tincidunt, vel malesuada ligula vulputate. Cras vestibulum dictum imperdiet. Cras et
  tortor blandit, tempus elit non, aliquet ipsum. Curabitur maximus arcu purus, eget volutpat massa suscipit eu.
  Vestibulum vehicula sapien eu urna vestibulum gravida. Duis luctus rutrum dolor nec convallis. Nam fringilla turpis in
  nulla dapibus blandit. In viverra, urna ac sollicitudin faucibus, est turpis finibus lectus, at aliquet nunc ligula at
  leo. Fusce massa metus, ultricies id nunc eget, luctus sagittis libero.

  In a mollis enim. Vestibulum faucibus lobortis neque, eget eleifend dui imperdiet imperdiet. Suspendisse potenti. Cras
  nec nisl eget enim pellentesque elementum eget in nunc. Integer eros erat, sagittis non ultricies in, vulputate vel
  massa. Etiam accumsan semper neque, venenatis posuere quam sagittis eu. Donec dignissim vestibulum enim, sed imperdiet
  magna faucibus nec. Fusce euismod elit massa, id tristique magna condimentum quis. In in nisl urna. Fusce vitae
  placerat magna. Aenean in libero eget nisl malesuada fringilla. In ut dui ac nunc semper eleifend. Aliquam blandit,
  dui vel aliquet commodo, purus nibh ullamcorper ante, eget laoreet elit justo ut arcu. Sed finibus aliquet tincidunt.
  Quisque at vestibulum lacus. In in aliquam nibh, ut volutpat nisl.

  Praesent porta ultricies felis, quis aliquet odio facilisis ut. Mauris auctor at sapien id commodo. Vestibulum et
  felis lacus. Phasellus et finibus felis. Aliquam vitae tortor vel magna efficitur elementum. Praesent mattis tempus
  lacus sed feugiat. Maecenas mollis tincidunt eros ac pulvinar. Maecenas ut justo ex. Ut eleifend odio quam, a lacinia
  nulla ullamcorper id. Suspendisse potenti. Nulla tristique pulvinar augue a luctus. Nullam commodo orci sed massa
  vulputate mollis.
</div> -->
