:host {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

div {
  position: fixed;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 2.5em;
}
