:host {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2.5em;
  font-family: Georgia, serif;
  padding: 20px;
}

.page-info, .quote-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quote-wrapper {
  flex-direction: column;
  font-size: 0.5em;
}

.quote {
  padding: 0px 20px;
}

.author {
  font-style: italic;
}
