$font-stack: Georgia, sans-serif;
$bg-color: #2F2D2E;
$text-color: #ffffff;

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

* {
  font-family: $font-stack;
  color: $text-color;
  background-color: $bg-color;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $bg-color grey;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $bg-color;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  * {
    // background-color: lightblue;
  }
}
