$font-stack: Helvetica, sans-serif;
$nice-blue: #93ACB5;
$text-color: #2F2D2E;

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

* {
  font: 100% $font-stack;
  color: $text-color;
  background-color: $nice-blue;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $nice-blue grey;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $nice-blue;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  * {
    background-color: lightblue;
  }
}
